

h1 {
    font-family: Garamond, serif;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    text-align: center;
    color: 	 #3a4660;
    font-size: xx-large;
    
}
.about{
    color:  #3a4660;
}

img{
    padding: 0px;
    margin: 10px;
    border: 3px solid 	 #3d3d3f;
}

body{
    background-color: #f6f5f3;
    text-align: center;
}

h2{
    font-family: Garamond, serif;
    font-size: xx-large;
    color: 	#3a4660; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25;
  }

.intro{
    font-family: system-ui;
    font-weight: 400;
    font-size: large;
    color:  #3d3d3f;
    padding: 5px;
    margin: 50px;
   
    line-height: 200%;
}

p {
    font-family: Garamond, serif;
   
    color:  #3d3d3f;
}

.projsection{
    font-family: Garamond, serif;
    font-size: x-large;
    color:  #3d3d3f;
}

.card{
    font-family: Garamond, serif;
    
    color:  #3d3d3f;
    padding: 10px;
    margin: 50px;
    border: 7px solid  #3d3d3f;
    line-height: 200%;
   
}


.ex{
    font-family: Garamond, serif;
    font-size: medium;
    font-weight: 500;
    color:  #3d3d3f;
    padding: 20px;
    margin: 50px;
    border: 7px solid  #3d3d3f;
    line-height: 200%;
}

.apps{
    font-family: Garamond, serif;
    font-weight: 600;
    color:  #3d3d3f; 
}

.proinfo{
    font-family: Garamond, serif;
    color:  #3d3d3f;
}

.contact{
    font-family: Garamond, serif;
    font-size: x-large;
    color:  #3d3d3f;
    padding: 20px;
    margin: 80px;
    border: 7px solid  #3d3d3f;
}

.cinfo{
    font-family: Garamond, serif;
    font-weight: 600;
    color:  #3d3d3f; 
    
}

a{
    font-family: Garamond, serif;
    font-weight: 600;
    font-size: x-large;
    color:  #3d3d3f; 
}

.role{
    font-family: Garamond, serif;
    font-weight: 600;
    color:  #3d3d3f; 

}

.proname{
    font-family: Garamond, serif;
    font-size: x-large;
    color:  #3d3d3f; 
}

.company{
    font-family: Garamond, serif;
    font-size: x-large;
    color:  #3d3d3f; 
}