

h1 {
    font-family: 'Hind Siliguri', sans-serif;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    text-align: center;
    
}

img{
    padding: 0px;
    margin: 10px;
    border: 3px solid black;
}

body{
    background-color: rgb(230, 249, 255);
    text-align: center;
}

h2{
    font-family: 'Hind Siliguri', sans-serif;
    
    color: black; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25;
  }

.intro{
    font-family: system-ui;
    background-color: rgb(229, 255, 255);
    color: black;
    padding: 20px;
    margin: 30px;
    border: 3px solid black;
}

p {
    font-family: system-ui;
   
    color: black;
}

.projsection{
    font-family: 'Hind Siliguri', sans-serif;
    
    color: black;
}

.card{
    font-family: system-ui;
    background-color: rgb(229, 255, 255);
    color: black;
    padding: 20px;
    margin: 24px;
    border: 3px solid black;
}

.ex{
    font-family: system-ui;
    background-color: rgb(229, 255, 255);
    color: black;
    padding: 20px;
    margin: 24px;
    border: 3px solid black;
}

.apps{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    color: black; 
}

.proinfo{
    font-family: system-ui;
    color: black;
}

.contact{
    font-family: system-ui;
    background-color: rgb(229, 255, 255);
    color: black;
    padding: 20px;
    margin: 24px;
    border: 3px solid black;
}

.cinfo{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    color: black; 
    
}

a{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    color: black; 
}

.role{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    color: black; 

}

.proname{
    font-family: 'Hind Siliguri', sans-serif;
    
    color: black; 
}